<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple, uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we'll send you a text to let you know. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, facere saepe officia officiis excepturi numquam sapiente voluptate repudiandae fugit dignissimos provident maiores iusto quam sequi ullam. Recusandae, voluptatem! Ipsam incidunt aspernatur ab, pariatur asperiores ducimus nesciunt voluptate vero quibusdam veritatis voluptatem hic voluptates perferendis, harum quae dicta laborum assumenda facere! Quam natus distinctio perspiciatis quis doloribus minima quae obcaecati. Laborum soluta saepe maxime at commodi, rerum accusantium numquam doloribus aspernatur quo ut impedit ex tempora voluptas dolores nam qui laudantium.</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>